.baap{
    display: inline-flex;
    flex-direction: row;
    
    
}

.head-text{
    margin-top: 40px;
    margin-bottom: 40px;
}

.cardone ,.cardtwo {
        margin-left: 20px ;
        margin-bottom: 20px;
    
        height: 350px;
        width: 30rem;
        padding-top: 10px;
        text-align: center;
        transform:
        rotate3d(.5,-.866,0,15deg)
        rotate(1deg);
      box-shadow:
        2em 4em 6em -2em rgba(0,0,0,.5),
        1em 2em 3.5em -2.5em rgba(0,0,0,.5);
      transition:
        transform .4s ease,
        box-shadow .4s ease;
      border-radius: .5em;
    
      &:hover {
        transform:
          rotate3d(0,0,0,0deg)
          rotate(0deg);
      }
      p{
        margin-top: 100px;
      }
      
}
@media screen and (max-width: 800px) {
    .baap{
        flex-direction: column;
    }
    .cardone{
        
        width:35rem;
        height: 400px
    }
    .cardtwo{
        width:35rem;
        height: 400px
    }
}


